
* {
  font-family: 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}

a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $textColor;
  letter-spacing: 1px;
  font-weight: 400;
}