article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  font-family: 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0F0F0F;
  letter-spacing: 1px;
  font-weight: 500;
}

.whiteBtn,
.blackBtn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  font-weight: 450;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.whiteBtn:hover,
.blackBtn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 90%;
}

.whiteBtn {
  background-color: #fff;
}

.blackBtn {
  color: #fff;
  background-color: #000;
}

.blackBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  position: relative;
  background-image: url(../../assets/heroBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.primaryNav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 72px;
}

.upperNavList,
.lowerNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upperNavList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
}

.upperNavList a {
  text-transform: none;
  color: #808080;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 11px 15px;
}

.upperNavList a:hover {
  color: #0F0F0F;
  border-bottom: 2px solid black;
}

.lowerNav,
.upperNav {
  border-bottom: 1px solid #E8E8E8;
  background-color: #fff;
}

.lowerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lowerNav .logoLink {
  padding: 20px 30px;
}

.lowerNav img {
  height: 30px;
}

.lowerNavList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lowerNavList li a {
  padding: 25px 30px;
}

.lowerNavList li a:hover {
  border-bottom: 2px solid black;
}

.headerText {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 10;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.headerText:hover {
  background-color: rgba(0, 0, 0, 0);
}

.headerText:hover h1 {
  color: #242424;
}

.headerText h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.headerText .headerTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px 150px;
}

.mainContent {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
